Temp/
UserSettings/
Library/
Logs/
obj/
Build/
Builds/
.vs/
.vsconfig
*.csproj
*.sln
*.suo
*.user
/.utmp
*.zip
*.apk
TempAssembly.dll
XRAIFramework_BurstDebugInformation_DoNotShip/
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
StreamingAssets*
buildInfo.txt
Packages/packages-lock.json
